doctype html
html(lang="en")
    head
        title WindowPaper - window + wallpaper screenshots on macOS
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bootstrap/bootstrap-theme.css")
        link(rel="icon" href="favicon.ico")
    body
        .container-fluid


            nav.navbar.navbar-light.justify-content-center
                a.navbar-brand.mr-0(href="#") WindowPaper


            section.pt-5
                .container.text-center
                    h1.display-4 WindowPaper
                    p.lead A little app for macOS that makes product screenshots easy.
                    a.btn.btn-primary(href="https://github.com/sarimabbas/windowpaper/releases/latest/download/WindowPaper.app.zip") Download for free
                    a.btn.btn-link(href="https://github.com/sarimabbas/windowpaper") View instructions on GitHub
                    img.img-fluid.d-block.mt-5.mx-auto(src="images/cover.png", alt="")

            footer.py-3
                .container
                    .d-flex.justify-content-center.align-items-center.flex-column
                        h5.mb-3
                            a(href="#") WindowPaper
                        .d-flex
                            p.mb-0.small.text-muted 
                                | &copy; 2019 
                                a(href="https://sarimabbas.com") Sarim Abbas. 
                                | All rights reserved.

        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
